* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

#title {
    background-color: rgb(73, 71, 71);
    height: 150px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#title h1 {
    font-size: 70px;
    color: white;
}

#outline {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left {
    width: 23%;    
    height: 620px;   
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
}

#right {
    width: 75%;
    margin-top: 20px;   
}

#top {
    border: solid grey 2px;
    padding: 30px;
    border-right: transparent;
    border-radius: 4px;
}

#bottom {
    margin-top: 30px;
    margin-right: 30px;
}

#create-space {
    width: 700px;
    height: 50px;    
    display: flex;
    flex-direction: row;
    align-items: center;
}

#city-date {
    height: 50px;
    
}

#date {
    width: 250px;
    height: 50px;    
}

#icon {
    width: 200px;
    height: 100px;
    padding-bottom: 10px;
}

#uv {
    width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#uv-box {
    height: 35px;
    width: 40px;
    border: solid black 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#five-day-title {
    min-width: 500px;
    width: 40px;
}

#five-day-boxes {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boxes {
    border: black solid 2px;
    margin-top: 20px;
    min-width: 170px;
    height: 200px;
    border-radius: 4px;
    padding: 3px;
    background-color: rgb(67, 95, 250);
}

.font {
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

ul button {
    width: 95%;
    height: 50px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 8px;
    border: solid .5px rgb(199, 198, 198);
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    text-transform: capitalize;
}

ul button:hover {
    opacity: .7;
}

.input-group {
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(228, 228, 228);
    padding-top: 8px;
    border-radius: 4px;
}


#search {
    height: 33px;
    width: 33px;
    margin-left: 2px;
    border-radius: 4px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: rgb(67, 95, 250);
}

#search:hover {
    opacity: .7;
}

#input {
    height: 30px; 
    min-width: 260px;
    margin-left: 8px; 
    margin-top: 7px;
    border-radius: 4px;
}

#input:hover {
    opacity: .7;
}

.icon img {
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.date {
    color: white;
    font-size: 25px;
    margin-left: 5px;
}